* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

header {
  height: 130px;
  color: white;
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px 3px #6e8187;
}

main {
  width: 720px;
  margin: auto;
}

main > div {
  display: inline-block;
}


/* carte */
.card {
  height: 190px;
  width: 160px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #6e8187;
  display: inline-block;
  position: relative;
}

h2 {
  color: orange;
  bottom: 5px;
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
}

.card:hover h2 {
  display: block;
}

.row {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

/* varianti */
.card.tractor:hover {
  background-image: url("../img/noun_Tractor_3134797.png");
}

.card.tram:hover {
  background-image: url("../img/noun_Tram_3134750.png");
}

.card.submarine:hover {
  background-image: url("../img/noun_Submarine_3134738.png");
}

.card.bycicle:hover {
  background-image: url("../img/noun_Bicycle_3134821.png");
}
